@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar button {
  border-radius: 12px;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.navbar-link-active {
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
}
.active{
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
 }

/* media queries */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .navbar .links {
    margin: 10px auto 0;
    display: block;
  }
  .navbar a {
    margin: 10px;
  }
}

/* create new url form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* signup details page */
.account-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.account-details div {
  margin: 20px 0;
}
.account-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.account-details label {
  color: #f1356d;
  padding: 8px;
}
